{% extends "admin/base.html" %}
{% load static %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<!--<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>-->
<h1 id="site-name">
    <p align="center">
        <a href="{% url 'admin:index' %}">
            <img src="{% static '\img\logookus.png' %}" alt="Halaman Login" height="40px" />
        </a>
    </p>
    <p align="center">
        {{ site_header|default:_('Django administration') }}
    </p>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
