
<!DOCTYPE html>
<html>
<head>
	
	<title>Quick Start - Leaflet</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin="">
    </script>

    <style>
    	
    </style>

	
</head>
<body>



<div id="mapid" style="width: 800px; height: 600px;"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
	$(document).ready(function(){
		var mymap = L.map('mapid', {
			zoomControl :true
		})
		.setView([-4.807581191734746, 104.01264623426242], 10);
	
		L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(mymap);
		
		if('geolocation' in navigator) {
			navigator.geolocation.getCurrentPosition((position) => {
			console.log();
			console.log(position.coords.latitude, position.coords.longitude)
			L.circle([position.coords.latitude, position.coords.longitude], {
				radius :1000,
				opacity: 1,
				color: 'white',
				weight: 1,
				fillcolor: 'blue'
			}).addTo(mymap);
		});
		} else {
			console.log("you don't have geolocation")
		 }
		
	});

		

	
	
</script>



</body>
</html>
